@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>!Your Name!<br/><br /><br />Welcome to the Apprenda Workshop!  We are excited to demonstrate the value of Platform as a Service (PaaS).  If you have any questions please feel free to ask at any time.</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Workshop</h2>
        <p>
            This one-day Value of Technology workshop provides hands on experience for those needing to understand how Apprenda’s Platform as a Service (PaaS) can accelerate software delivery and ease management of custom developed applications across an enterprise. The combination of labs and presentations will allow students to see first hand the inner-workings of the Apprenda Platform.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Workbook</h2>
        <p>The Apprenda Workbook is complementary to the instruction provided during the workshop.  The workbook will help guide participants of the workshop through a variety of Apprenda use-cases.</p>
    </div>
    <div class="col-md-4">
        <h2>Assets</h2>
        <p>The Apprenda workshop is accompanied by assets, including the archive & source to this application, Apprenda architecture diagrams and helpful whitepapers.</p>
    </div>
</div>