<?xml version="1.0"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.apprenda.com/SettingsXmlDoc">
  <Settings>
    <SettingDefinition name="Private Root" value="ApprendaWorkshop" />
    <SettingDefinition name="Extention Filter" value=".sln;.vb;.cs;.h;.cpp;.obj;.dep;.idb" />
    <SettingDefinition name="Build Config" value="Debug" />
    <SettingDefinition name="Archive Output Path" value="C:\code\networkshopsample\Archive.zip" />
    <SettingDefinition name="Application Provisioning Script" value="C:\Users\elustgarten\Desktop\workshop\Apprenda_Workshop_Source\ApprendaWorkshop\Apprenda\ApplicationProvisioning_Script.sql" />
    <SettingDefinition name="Tenant Provisioning Script" />
    <SettingDefinition name="Services" value="" />
  </Settings>
</root>